Flow
[{"id":"90ff0a02.e2cf28","type":"tab","label":"MQTT Broker","disabled":false,"info":""},{"id":"b85c43af.b086","type":"tab","label":"Luminosity Chart","disabled":false,"info":""},{"id":"313f5925.a7e3d6","type":"tab","label":"People Count by Zone","disabled":false,"info":""},{"id":"41ee99ff.22bc68","type":"tab","label":"AWS Facial","disabled":false,"info":""},{"id":"802b6c2f.aec0e","type":"tab","label":"AWS Label","disabled":false,"info":""},{"id":"36591b9f.585f74","type":"tab","label":"Show Snap","disabled":false,"info":""},{"id":"ae523494.b67658","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[{"id":"699341ca.9cb82"}]}],"out":[{"x":749.5,"y":53,"wires":[{"id":"5ee6e367.3fec3c","port":0}]},{"x":755,"y":169,"wires":[{"id":"95bba33e.d179b","port":0}]}]},{"id":"efb93488.62b638","type":"mqtt-broker","z":"","name":"lochost test","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82629ef5.b2397","type":"mqtt-broker","z":"","name":"Meraki","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Connection","birthQos":"0","birthPayload":"Meraki Connected","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b684a988.a94658","type":"mqtt-broker","z":"","name":"Pi Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"837a1b6f.b4f278","type":"mqtt-broker","z":null,"name":"NAS Broker","broker":"10.0.1.25","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65e8b6a0.c65478","type":"mqtt-broker","z":"","name":"Pi Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"49240760.248f78","type":"mqtt-broker","z":null,"name":"NAS Broker","broker":"10.0.1.25","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ba842ef.6e227c","type":"mqtt-broker","z":"","name":"Pi Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3328c044.15f08","type":"mqtt-broker","z":null,"name":"NAS Broker","broker":"10.0.1.25","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ddd77f6a.d1bb9","type":"websocket-listener","z":"","path":"/ws/people","wholemsg":"false"},{"id":"92cdbaf8.d21778","type":"ui_tab","z":"","name":"Meraki MV API integration with Node-RED","icon":"dashboard","disabled":false,"hidden":false},{"id":"156e60b5.d396af","type":"ui_group","z":"","name":"Light Levels","tab":"92cdbaf8.d21778","disp":true,"width":"9","collapse":true},{"id":"48cf039f.9064fc","type":"ui_tab","z":"","name":"PeopleCount","icon":"dashboard","disabled":false,"hidden":false},{"id":"c02f0f3b.5c569","type":"ui_group","z":"","name":"People Detection","tab":"92cdbaf8.d21778","disp":true,"width":"10","collapse":false},{"id":"de5988ad.952708","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9c527f7e.65d6","type":"ui_group","z":"","name":"Meraki MV AWS Rekognition","tab":"92cdbaf8.d21778","disp":true,"width":"6","collapse":false},{"id":"b847bb7b.f8b558","type":"ui_group","z":"","name":"Labels & Confidence (%)","tab":"92cdbaf8.d21778","disp":true,"width":"24","collapse":false},{"id":"d964cc6c.a6d69","type":"ui_group","z":"","name":"Default","tab":"18546725.b480d9","disp":true,"width":"6","collapse":false},{"id":"18546725.b480d9","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"fcf771a8.7df9c","type":"ui_group","z":"36591b9f.585f74","name":"Default","tab":"cffd520a.d6bd5","disp":true,"width":"6"},{"id":"cffd520a.d6bd5","type":"ui_tab","z":"36591b9f.585f74","name":"Home","icon":"dashboard"},{"id":"43c2dcab.63dd04","type":"ui_group","z":"36591b9f.585f74","name":"Default","tab":"6ebc37b.d23a2c8","disp":true,"width":"6"},{"id":"6ebc37b.d23a2c8","type":"ui_tab","z":"36591b9f.585f74","name":"Home","icon":"dashboard"},{"id":"c3ca5dbb.b5dfe","type":"mosca in","z":"90ff0a02.e2cf28","mqtt_port":"1884","mqtt_ws_port":8080,"name":"","username":"admin","password":"M3raki12E","dburl":"","x":130,"y":120,"wires":[["bddb899d.05f268"]]},{"id":"67a93ef5.0e20f","type":"comment","z":"90ff0a02.e2cf28","name":"Broker","info":"","x":90,"y":60,"wires":[]},{"id":"a1abf5d.e901b08","type":"json","z":"b85c43af.b086","name":"","property":"payload","action":"","pretty":false,"x":410,"y":260,"wires":[["ca9fd74e.8e2098"]]},{"id":"ca9fd74e.8e2098","type":"change","z":"b85c43af.b086","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["24cc28f6.be5578","c8748bab.ceb7b8"]]},{"id":"d720c42f.7477c8","type":"mqtt in","z":"b85c43af.b086","name":"","topic":"/merakimv/Q2GV-CUDL-WAV7/light","qos":"0","datatype":"auto","broker":"82629ef5.b2397","x":190,"y":260,"wires":[["a1abf5d.e901b08","dbb8b3d3.72fd2"]]},{"id":"c8748bab.ceb7b8","type":"ui_chart","z":"b85c43af.b086","name":"","group":"156e60b5.d396af","order":0,"width":"6","height":"5","label":"Historic Luminosity (Lab Camera)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":260,"wires":[[]]},{"id":"12e4c3d.f2e9f3c","type":"comment","z":"b85c43af.b086","name":"Luminosity at /UI","info":"","x":140,"y":120,"wires":[]},{"id":"d8e5be23.a5547","type":"json","z":"313f5925.a7e3d6","name":"","property":"payload","action":"","pretty":false,"x":440,"y":320,"wires":[["4ece4b2e.bcdd74"]]},{"id":"4ece4b2e.bcdd74","type":"change","z":"313f5925.a7e3d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.counts.person","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":320,"wires":[["d276c146.fca8b"]]},{"id":"3fdf3d54.a92772","type":"mqtt in","z":"313f5925.a7e3d6","name":"","topic":"/merakimv/Q2GV-CUDL-WAV7/676665844012417060","qos":"0","datatype":"auto","broker":"82629ef5.b2397","x":280,"y":400,"wires":[["d8e5be23.a5547"]]},{"id":"d276c146.fca8b","type":"ui_chart","z":"313f5925.a7e3d6","name":"People Count Zone 2","group":"c02f0f3b.5c569","order":0,"width":"7","height":"5","label":"Historic People Count Zone 1 (Lab Camera)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":320,"wires":[[]]},{"id":"5ee6e367.3fec3c","type":"change","z":"ae523494.b67658","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"restore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.5,"y":53,"wires":[[]]},{"id":"699341ca.9cb82","type":"json","z":"ae523494.b67658","name":"","x":175.5,"y":85,"wires":[["5ee6e367.3fec3c"]]},{"id":"3ac25e1c.350bc2","type":"catch","z":"ae523494.b67658","name":"","scope":["699341ca.9cb82"],"x":183.5,"y":117,"wires":[["304a62c7.065efe"]]},{"id":"304a62c7.065efe","type":"change","z":"ae523494.b67658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.5,"y":116,"wires":[["5ee6e367.3fec3c"]]},{"id":"95bba33e.d179b","type":"inject","z":"ae523494.b67658","name":"Trigger restore","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":618.5,"y":169,"wires":[[]]},{"id":"b7122026.1053e","type":"json","z":"313f5925.a7e3d6","name":"","property":"payload","action":"","pretty":false,"x":430,"y":480,"wires":[["919ea766.dccb58"]]},{"id":"919ea766.dccb58","type":"change","z":"313f5925.a7e3d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.counts.person","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":480,"wires":[["2cfa19a0.1989a6"]]},{"id":"72c78ea9.236d8","type":"mqtt in","z":"313f5925.a7e3d6","name":"","topic":"/merakimv/Q2GV-CUDL-WAV7/676665844012417061","qos":"0","datatype":"auto","broker":"82629ef5.b2397","x":290,"y":560,"wires":[["b7122026.1053e","71a25030.1110a"]]},{"id":"2cfa19a0.1989a6","type":"ui_chart","z":"313f5925.a7e3d6","name":"","group":"c02f0f3b.5c569","order":0,"width":"7","height":"6","label":"Historic People Count Zone 2 (Lab Camera)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":480,"wires":[[]]},{"id":"24cc28f6.be5578","type":"ui_gauge","z":"b85c43af.b086","name":"","group":"156e60b5.d396af","order":3,"width":"6","height":"6","gtype":"gage","title":"Instantaneous Luminosity (Lab Camera)","label":"Lumen","format":"","min":0,"max":"800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":180,"wires":[]},{"id":"dbb8b3d3.72fd2","type":"debug","z":"b85c43af.b086","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":400,"wires":[]},{"id":"bddb899d.05f268","type":"debug","z":"90ff0a02.e2cf28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":260,"wires":[]},{"id":"71a25030.1110a","type":"debug","z":"313f5925.a7e3d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":620,"wires":[]},{"id":"cb0f2c9b.867bf","type":"mqtt in","z":"41ee99ff.22bc68","name":"","topic":"Age","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":340,"y":120,"wires":[["764996d1.8591d8","6e186173.d2101"]]},{"id":"764996d1.8591d8","type":"debug","z":"41ee99ff.22bc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":120,"wires":[]},{"id":"54667edf.4e608","type":"mqtt in","z":"41ee99ff.22bc68","name":"","topic":"EmotionalState","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":370,"y":220,"wires":[["15ed9d2f.f2aff3","7cb47f39.dc4c7"]]},{"id":"15ed9d2f.f2aff3","type":"debug","z":"41ee99ff.22bc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":220,"wires":[]},{"id":"6e186173.d2101","type":"ui_gauge","z":"41ee99ff.22bc68","name":"Age","group":"9c527f7e.65d6","order":2,"width":"5","height":"5","gtype":"donut","title":"Age","label":"Years","format":"{{value}}","min":"18","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":60,"wires":[]},{"id":"7cb47f39.dc4c7","type":"ui_text","z":"41ee99ff.22bc68","group":"9c527f7e.65d6","order":1,"width":"5","height":"3","name":"","label":"Emotional State","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":340,"wires":[]},{"id":"4cf3d6c6.8db4d8","type":"mqtt in","z":"41ee99ff.22bc68","name":"","topic":"Gender","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":350,"y":480,"wires":[["7fc42e7e.8e4d7"]]},{"id":"7fc42e7e.8e4d7","type":"ui_text","z":"41ee99ff.22bc68","group":"9c527f7e.65d6","order":1,"width":"5","height":"3","name":"","label":"Gender","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":480,"wires":[]},{"id":"7b96a158.00579","type":"mqtt in","z":"802b6c2f.aec0e","name":"","topic":"Label0","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":210,"y":200,"wires":[["f3e9e5b1.0a1cb8","1b05f127.dadd8f"]]},{"id":"f3e9e5b1.0a1cb8","type":"debug","z":"802b6c2f.aec0e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":200,"wires":[]},{"id":"1b05f127.dadd8f","type":"ui_text","z":"802b6c2f.aec0e","group":"b847bb7b.f8b558","order":1,"width":"8","height":"1","name":"","label":"Label 1","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":320,"wires":[]},{"id":"fab9c0e0.7ae3c","type":"mqtt in","z":"802b6c2f.aec0e","name":"","topic":"Label1","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":230,"y":400,"wires":[["9bc95683.5d2b08","898947d2.6a3908"]]},{"id":"9bc95683.5d2b08","type":"debug","z":"802b6c2f.aec0e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":400,"wires":[]},{"id":"898947d2.6a3908","type":"ui_text","z":"802b6c2f.aec0e","group":"b847bb7b.f8b558","order":1,"width":"8","height":"1","name":"","label":"Label 2","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":520,"wires":[]},{"id":"e74e6c52.73ab4","type":"mqtt in","z":"802b6c2f.aec0e","name":"","topic":"Label2","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":230,"y":600,"wires":[["a275a3ad.c9e89","739b586d.cdcee8"]]},{"id":"a275a3ad.c9e89","type":"debug","z":"802b6c2f.aec0e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":600,"wires":[]},{"id":"739b586d.cdcee8","type":"ui_text","z":"802b6c2f.aec0e","group":"b847bb7b.f8b558","order":1,"width":"8","height":"1","name":"","label":"Label 3","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":720,"wires":[]},{"id":"67bf0011.a8f1","type":"mqtt in","z":"802b6c2f.aec0e","name":"","topic":"Label3","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":230,"y":820,"wires":[["13f6c0fa.39828f","412ab46b.85728c"]]},{"id":"13f6c0fa.39828f","type":"debug","z":"802b6c2f.aec0e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":820,"wires":[]},{"id":"412ab46b.85728c","type":"ui_text","z":"802b6c2f.aec0e","group":"b847bb7b.f8b558","order":1,"width":"8","height":"1","name":"","label":"Label 4","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":940,"wires":[]},{"id":"58e34215.255cac","type":"mqtt in","z":"802b6c2f.aec0e","name":"","topic":"Label4","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":230,"y":1020,"wires":[["5c93208b.5920e","907b6d28.859fc"]]},{"id":"5c93208b.5920e","type":"debug","z":"802b6c2f.aec0e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":1020,"wires":[]},{"id":"907b6d28.859fc","type":"ui_text","z":"802b6c2f.aec0e","group":"b847bb7b.f8b558","order":1,"width":"8","height":"1","name":"","label":"Label 5","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":1140,"wires":[]},{"id":"7dac6d63.0ae0b4","type":"mqtt in","z":"802b6c2f.aec0e","name":"","topic":"Label5","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":250,"y":1220,"wires":[["29f65f89.185c","ae700ff4.a5be6"]]},{"id":"29f65f89.185c","type":"debug","z":"802b6c2f.aec0e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":1220,"wires":[]},{"id":"ae700ff4.a5be6","type":"ui_text","z":"802b6c2f.aec0e","group":"b847bb7b.f8b558","order":1,"width":"8","height":"1","name":"","label":"Label 6","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":1340,"wires":[]},{"id":"fc5f0972.f00958","type":"inject","z":"36591b9f.585f74","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":370,"y":300,"wires":[["a4c16cd1.c96fa"]]},{"id":"5154f056.17404","type":"ui_template","z":"36591b9f.585f74","group":"b847bb7b.f8b558","name":"","order":0,"width":"20","height":"20","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":300,"wires":[[]]},{"id":"a4c16cd1.c96fa","type":"template","z":"36591b9f.585f74","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"https://www.bbc.co.uk\" height=1000px; width=1000px ></iframe>","x":520,"y":260,"wires":[["8b871896.a72c88"]]},{"id":"40b3fcb4.5534d4","type":"mqtt in","z":"36591b9f.585f74","name":"","topic":"Snap","qos":"2","datatype":"auto","broker":"82629ef5.b2397","x":590,"y":600,"wires":[["4e21e059.c1fc2"]]},{"id":"8b871896.a72c88","type":"debug","z":"36591b9f.585f74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":160,"wires":[]},{"id":"4e21e059.c1fc2","type":"template","z":"36591b9f.585f74","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"{{{payload}}}\"  height=600px; width=1000px >\n    content will be rendered here...\n</iframe>","x":780,"y":600,"wires":[["5154f056.17404"]]}]
