Flow
[{"id":"6c79d2a5.85d07c","type":"tab","label":"MQTT Broker","disabled":false,"info":""},{"id":"39f4aa50.180b16","type":"mosca in","z":"6c79d2a5.85d07c","mqtt_port":"1883","mqtt_ws_port":8080,"name":"","username":"admin","password":"M3raki12E","dburl":"","x":130,"y":120,"wires":[["c1033083.f84d4"]]},{"id":"b92b72b5.95036","type":"comment","z":"6c79d2a5.85d07c","name":"Broker","info":"","x":90,"y":60,"wires":[]},{"id":"c1033083.f84d4","type":"debug","z":"6c79d2a5.85d07c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":260,"wires":[]},{"id":"60997052.87513","type":"tab","label":"Luminosity Chart","disabled":false,"info":""},{"id":"809d23f1.ea1ea","type":"json","z":"60997052.87513","name":"","property":"payload","action":"","pretty":false,"x":410,"y":260,"wires":[["e0328543.793b28"]]},{"id":"e0328543.793b28","type":"change","z":"60997052.87513","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["ca9d79bb.ba1fb8","a57c3e7e.685c1"]]},{"id":"7a481a36.54d1b4","type":"mqtt in","z":"60997052.87513","name":"","topic":"/merakimv/Q2EV-HXLN-QGGY/light","qos":"0","datatype":"auto","broker":"4a9fd7cd.221288","x":190,"y":260,"wires":[["809d23f1.ea1ea","3edabc8d.8afc44"]]},{"id":"a57c3e7e.685c1","type":"ui_chart","z":"60997052.87513","name":"","group":"6c36b68a.f58ad8","order":0,"width":"6","height":"5","label":"Historic Luminosity (Lab Camera)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":260,"wires":[[]]},{"id":"b22312da.7c8f3","type":"comment","z":"60997052.87513","name":"Luminosity at /UI","info":"","x":140,"y":120,"wires":[]},{"id":"ca9d79bb.ba1fb8","type":"ui_gauge","z":"60997052.87513","name":"","group":"6c36b68a.f58ad8","order":3,"width":"6","height":"6","gtype":"gage","title":"Instantaneous Luminosity (Lab Camera)","label":"Lumen","format":"","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":180,"wires":[]},{"id":"3edabc8d.8afc44","type":"debug","z":"60997052.87513","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":400,"wires":[]},{"id":"4d21a10d.4a089","type":"tab","label":"People Count by Zone","disabled":false,"info":""},{"id":"5bb9db60.a10ea4","type":"json","z":"4d21a10d.4a089","name":"","property":"payload","action":"","pretty":false,"x":440,"y":320,"wires":[["685fcc8.c6cd634"]]},{"id":"685fcc8.c6cd634","type":"change","z":"4d21a10d.4a089","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.counts.person","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":320,"wires":[["599ca08a.01341"]]},{"id":"1bb43a8d.f4b2d5","type":"mqtt in","z":"4d21a10d.4a089","name":"","topic":"/merakimv/Q2GV-CUDL-WAV7/676665844012417060","qos":"0","datatype":"auto","broker":"4a9fd7cd.221288","x":280,"y":400,"wires":[["5bb9db60.a10ea4"]]},{"id":"599ca08a.01341","type":"ui_chart","z":"4d21a10d.4a089","name":"People Count Zone 2","group":"81291f4f.7fb16","order":0,"width":"7","height":"5","label":"Historic People Count Zone 1 (Lab Camera)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":320,"wires":[[]]},{"id":"ec03f55c.6a98b8","type":"json","z":"4d21a10d.4a089","name":"","property":"payload","action":"","pretty":false,"x":430,"y":480,"wires":[["422fdff0.1f71b"]]},{"id":"422fdff0.1f71b","type":"change","z":"4d21a10d.4a089","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.counts.person","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":480,"wires":[["4bc494f4.5c8acc"]]},{"id":"703f75bc.b5d09c","type":"mqtt in","z":"4d21a10d.4a089","name":"","topic":"/merakimv/Q2GV-CUDL-WAV7/676665844012417061","qos":"0","datatype":"auto","broker":"4a9fd7cd.221288","x":290,"y":560,"wires":[["ec03f55c.6a98b8","ea2a69a3.b8ff98"]]},{"id":"4bc494f4.5c8acc","type":"ui_chart","z":"4d21a10d.4a089","name":"","group":"81291f4f.7fb16","order":0,"width":"7","height":"6","label":"Historic People Count Zone 2 (Lab Camera)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":480,"wires":[[]]},{"id":"ea2a69a3.b8ff98","type":"debug","z":"4d21a10d.4a089","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":620,"wires":[]},{"id":"3b8b3beb.12ff74","type":"tab","label":"AWS Facial","disabled":false,"info":""},{"id":"1414f56c.e09ceb","type":"mqtt in","z":"3b8b3beb.12ff74","name":"","topic":"Age","qos":"2","datatype":"auto","broker":"4a9fd7cd.221288","x":340,"y":120,"wires":[["ff790402.905698","75a4c286.eb416c"]]},{"id":"ff790402.905698","type":"debug","z":"3b8b3beb.12ff74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":120,"wires":[]},{"id":"44d8a360.2576cc","type":"mqtt in","z":"3b8b3beb.12ff74","name":"","topic":"EmotionalState","qos":"2","datatype":"auto","broker":"4a9fd7cd.221288","x":370,"y":220,"wires":[["724c0994.699a08","ceebef92.3762e"]]},{"id":"724c0994.699a08","type":"debug","z":"3b8b3beb.12ff74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":220,"wires":[]},{"id":"75a4c286.eb416c","type":"ui_gauge","z":"3b8b3beb.12ff74","name":"Age","group":"33b9ebbe.18afb4","order":2,"width":"5","height":"5","gtype":"donut","title":"Age","label":"Years","format":"{{value}}","min":"18","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":60,"wires":[]},{"id":"ceebef92.3762e","type":"ui_text","z":"3b8b3beb.12ff74","group":"33b9ebbe.18afb4","order":1,"width":"5","height":"3","name":"","label":"Emotional State","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":340,"wires":[]},{"id":"378a391a.5308f6","type":"mqtt in","z":"3b8b3beb.12ff74","name":"","topic":"Gender","qos":"2","datatype":"auto","broker":"4a9fd7cd.221288","x":350,"y":480,"wires":[["df62ce4c.27662"]]},{"id":"df62ce4c.27662","type":"ui_text","z":"3b8b3beb.12ff74","group":"33b9ebbe.18afb4","order":1,"width":"5","height":"3","name":"","label":"Gender","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":480,"wires":[]},{"id":"cf304dae.805e9","type":"tab","label":"AWS Label","disabled":false,"info":""},{"id":"b427b2b9.ea3ba","type":"mqtt in","z":"cf304dae.805e9","name":"","topic":"Label0","qos":"2","datatype":"auto","broker":"4a9fd7cd.221288","x":210,"y":200,"wires":[["51e27475.fc979c","cbaecf97.14231"]]},{"id":"51e27475.fc979c","type":"debug","z":"cf304dae.805e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":200,"wires":[]},{"id":"cbaecf97.14231","type":"ui_text","z":"cf304dae.805e9","group":"c424e4ed.a46dc8","order":1,"width":"8","height":"1","name":"","label":"Label 1","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":320,"wires":[]},{"id":"5a72e849.adfc48","type":"mqtt in","z":"cf304dae.805e9","name":"","topic":"Label1","qos":"2","datatype":"auto","broker":"4a9fd7cd.221288","x":230,"y":400,"wires":[["df1d249d.a37a48","65c8c3c1.e8d25c"]]},{"id":"df1d249d.a37a48","type":"debug","z":"cf304dae.805e9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":400,"wires":[]},{"id":"65c8c3c1.e8d25c","type":"ui_text","z":"cf304dae.805e9","group":"c424e4ed.a46dc8","order":1,"width":"8","height":"1","name":"","label":"Label 2","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":520,"wires":[]},{"id":"6a88afa1.4fa26","type":"mqtt in","z":"cf304dae.805e9","name":"","topic":"Label2","qos":"2","datatype":"auto","broker":"4a9fd7cd.221288","x":230,"y":600,"wires":[["799a10ee.3b5c5","6a31acf2.dc02a4"]]},{"id":"799a10ee.3b5c5","type":"debug","z":"cf304dae.805e9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":600,"wires":[]},{"id":"6a31acf2.dc02a4","type":"ui_text","z":"cf304dae.805e9","group":"c424e4ed.a46dc8","order":1,"width":"8","height":"1","name":"","label":"Label 3","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":720,"wires":[]},{"id":"af049579.af3cb8","type":"mqtt in","z":"cf304dae.805e9","name":"","topic":"Label3","qos":"2","datatype":"auto","broker":"4a9fd7cd.221288","x":230,"y":820,"wires":[["1c4fd8a.e188627","a97e420f.d37cf"]]},{"id":"1c4fd8a.e188627","type":"debug","z":"cf304dae.805e9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":820,"wires":[]},{"id":"a97e420f.d37cf","type":"ui_text","z":"cf304dae.805e9","group":"c424e4ed.a46dc8","order":1,"width":"8","height":"1","name":"","label":"Label 3","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":940,"wires":[]},{"id":"d03044f1.452db8","type":"mqtt in","z":"cf304dae.805e9","name":"","topic":"Label4","qos":"2","datatype":"auto","broker":"4a9fd7cd.221288","x":230,"y":1020,"wires":[["e074bb32.948df8","61e1a8a3.e8bd48"]]},{"id":"e074bb32.948df8","type":"debug","z":"cf304dae.805e9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":1020,"wires":[]},{"id":"61e1a8a3.e8bd48","type":"ui_text","z":"cf304dae.805e9","group":"c424e4ed.a46dc8","order":1,"width":"8","height":"1","name":"","label":"Label 3","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":1140,"wires":[]},{"id":"c538f889.961e98","type":"mqtt in","z":"cf304dae.805e9","name":"","topic":"Label5","qos":"2","datatype":"auto","broker":"4a9fd7cd.221288","x":250,"y":1220,"wires":[["b402e422.03c9b8","eef5b33f.b0389"]]},{"id":"b402e422.03c9b8","type":"debug","z":"cf304dae.805e9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":1220,"wires":[]},{"id":"eef5b33f.b0389","type":"ui_text","z":"cf304dae.805e9","group":"c424e4ed.a46dc8","order":1,"width":"8","height":"1","name":"","label":"Label 3","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":1340,"wires":[]},{"id":"4a9fd7cd.221288","type":"mqtt-broker","z":"","name":"Meraki","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Connection","birthQos":"0","birthPayload":"Meraki Connected","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6c36b68a.f58ad8","type":"ui_group","z":"","name":"Light Levels","tab":"da78be5b.f11d2","disp":true,"width":"9","collapse":true},{"id":"81291f4f.7fb16","type":"ui_group","z":"","name":"People Detection","tab":"da78be5b.f11d2","disp":true,"width":"10","collapse":false},{"id":"33b9ebbe.18afb4","type":"ui_group","z":"","name":"Meraki MV AWS Rekognition","tab":"da78be5b.f11d2","disp":true,"width":"6","collapse":false},{"id":"c424e4ed.a46dc8","type":"ui_group","z":"","name":"Labels & Confidence (%)","tab":"da78be5b.f11d2","disp":true,"width":"24","collapse":false},{"id":"da78be5b.f11d2","type":"ui_tab","z":"","name":"Meraki MV Live MQTT Stream with Node-RED","icon":"dashboard","disabled":false,"hidden":false}]
